<!-- TO DO: Add back specific action from ng-submit -->
<form name="authForm" ng-submit="authForm.$valid" class="form-signin" novalidate>
  <!-- TO DO: Add back form title -->
  <h2 class='form-signin-heading'></h2>

  <!-- Server authentication error -->
  <p ng-show="vm.error" class="text-danger" ng-bind="vm.error"></p>

  <!-- Email input -->
  <input name="email" ng-model="vm.user.email" ng-model-options="{updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0}}" type="email" class="form-control" placeholder="Email" required autofocus>

  <!-- Email error -->
  <div ng-show="authForm.$submitted">
    <p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>
    <p ng-show="authForm.email.$error.email" class="text-danger">Please enter a valid email</p>
  </div>

  <!-- Password input -->
  <input name="password" ng-model="vm.user.password" type="password" class="form-control" placeholder="Password" required>

  <!-- Password Error -->
  <div ng-show="authForm.$submitted">
    <p ng-show="authForm.password.$error.required" class="text-danger">Password required</p>
  </div>
  <!-- TO DO: Use form title for the button text -->
  <button class="btn btn-large btn-primary btn-block" type="submit"></button>
</form>
